.input-box{
    text-align: center;
    margin: 10px;
    border-radius: 20px;
}

span{
    font-size: 40px;
    font-weight: 100px;
    color: yellow;
    margin-right: 10px;
}

p{
    text-align: center;
    margin: 10px;
    color: rgb(205, 203, 203);
    font-size: 20px;
   
}